body{
  background-color: #451952;
}
h1{
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  color: #F39F5A;
  margin-top: 3%;
}
label{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-top: 2%;
  color: #fff;
}
option{
  color: #662549;
  font-weight: bold;
}

p{
  font-size: 30px;
  margin-top: 2%;
  color: #fff;
}

#answer{
  font-size: 25px;
  margin-top: 2%;
  color: red;

}
